.galery{
    display:flex;
    flex-direction: row;
    position:relative;
    gap: 10px;
}
.imgcontainer{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
   
    gap:10px;

}
.showall{
    position:absolute;
    bottom: 25px;
    right: 50px;
    width: 241px;
    height:48px;
    background-color: white;
    font-size: 18px;
    font-weight: 700;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #EBEBEB;

    
}