.programs{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:1px solid #EBEBEB;
    margin-top: 50px;
    margin-bottom: 20px;
}
.title{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#EC3636;
    color:white;
    font-size:24px;
    font-weight:700;
    line-height:29.64px;
    width:100%;
    height:76px;

}
.columns{
    width:100%;
    height:56px;
    background-color: black;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.columnsinner{
    width:90%;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    color:white;
    font-size:16px;
    font-weight:700;
    line-height:19.64px;
    
}
