.navcontrol{
    width:207px;
    height:56px;

    border: 1px solid #EBEBEB;
    display:flex;
    justify-content: center;
    align-items: center;
}
.navcontrol p{
    
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
}
